@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap");
.App {
  text-align: center;
  margin: "0";
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
}
.swiper-button-next::after {
  content: url("https://i.imgur.com/WeWCHpv.png") !important;
  z-index: 999;
}
.swiper-button-prev::after {
  content: url("https://i.imgur.com/lS4N53d.png") !important;
  z-index: 999;
}
#accordion > * {
  margin: 0 !important;
  background-color: #fffff4;
}
@media (max-width: 768px) {
  #question_wrapper{
    flex-wrap: wrap;
  }
  #accordion{
    display: flex;
    flex-wrap : wrap; 
    height: fit-content;
    justify-content: center;
  }
}